.clear{
    clear: left;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    text-align: center;
    padding-right: 74%;
    margin-top: 15px;
    font-size: 200%;
}
.logo-1st-color{
    color: black ;
    text-decoration: none;
}
.logo-2nd-color{
    color: #4BCAFF;
    text-decoration: none;
}
.navbar {
    border: 1px solid #818181;
    background-color: #35444F;
    margin-left: 115px;
    margin-right: 300px;
}
.navbar-menu-list{
    padding-left: 103px ;
}
.navbar-menu-item{
    display: inline-block;
    margin: 0 20px;
}
.navbar-menu-link{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 70px;
}
.table{
    border: 1px solid #35444F;
    margin-top: 38px;
    width: 344px;
    height: 399px;
    margin-left: 115px;
    float: left;

}
.table-list{
}
.table-list-item{
    margin-top: 20px;
    list-style-type: none;
    padding-bottom: 25px;
}
.table-list-link{
text-decoration: none;
    font-size: 30px;
    color: #485863;
}
.main-info{
    margin: 0;
}
.main-info-border{
    border: 1px solid #35444F;
    width: 885px;
    height: 529px;
    margin-left: 600px;
    text-align: center;
    margin-top: 38px;
}
.main-info-img{
    padding-right: 300px;
    padding-top: 95px ;
}
.main-info-text{
    border: 1px solid white;
    width: 820px;
    height: 114px;
    margin-left: 620px;
    margin-top: 38px;
}
.main-info-paragraph{
    font-weight: bold;
    font-size: 18px;
    color: #35444F;
}
.down-navbar{
    margin-top: 175px;
    border: 1px solid #818181;
    background-color: #B4B7BA;
    margin-left:115px ;
    margin-right: 300px;
}
.down-navbar-menu-list{
    padding-left: 1px;
}
.down-navbar-menu-item{
    display: inline-block;
    margin: 0 20px;
}
.down-navbar-menu-link{
    font-size: 28px;
    text-decoration: none;
    color: black;

}
.copyright {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    padding-left: 180px;

}